* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font: 1rem;
}

body {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #e7e7e7;
  height: 100vh;
}

/* Primeira tela */

.msgBox {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  opacity: 1;
  transition: all 500ms;
}

.msgBox.fadeOut {
  opacity: 0;
}

.msgContent {
  padding: 15px;
  width: 100%;
  background-color: #203047;
  border-radius: 15px;
  color: white;
}

.divForm {
  opacity: 1;
  transition: all 300ms;
}

.divForm.fadeOut {
  opacity: 0;
}

.titleLogin {
  text-align: center;
}

.formLogin {
  display: flex;
  flex-flow: column;
}

.labelLogin {
  margin-top: 20px;
}

#name,
#surName {
  margin-top: 10px;
  padding: 5px;
  height: 25px;
  border: none;
  border-radius: 2.5px;
  font-weight: 600;
  font-size: 1rem;
}

.pflPhoto {
  position: relative;
  max-width: 50px;
  min-height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#color1 {
  top: 10px;
  left: 100px;
  margin-top: 10px;
  background-color: lightseagreen;
  appearance: none;
}

#color2 {
  left: 200px;
  bottom: 40px;
  background-color: rgb(173, 32, 178);
  appearance: none;
}

#color1:hover,
#color2:hover {
  border: 2.5px solid #203047;
}

#enjoyBtn {
  align-self: center;
}

/* Alerta da primeira tela */

.alertBox {
  display: none;
  flex-flow: column;
  margin: 20px 0 20px 0;
  max-width: 500px;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  opacity: 1;
  transition: all 300ms;
}

.alertBox.fadeOut {
  opacity: 0;
}

#alertBtn {
  align-self: center;
  margin: 15px 0 0 0;
}

/* Cabeçalho */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
  box-shadow: 0 2px 15px #203047;
  background-color: #203047;
}

/* Título */

.title {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

#frtLetters {
  color: #f5d01f;
}

/* Perfil */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.4rem;
  font-weight: 500;
}

.nameProfile {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: -14px 0 0 5px;
  font-size: 0.8rem;
  font-weight: 300;
}

#name {
  font-size: 1rem;
  font-weight: 600;
}

#nameSmall {
  margin-left: 5px;
}

/* Desenvolvimento */

.container {
  align-self: center;
  width: 80vw;
  padding: 50px 15px;
}

/* Para inspirar */

.toInspire {
  color: #203047;
}

.inspireMsg {
  display: flex;
  justify-content: center;
}

.firstMsg,
.secondMsg {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 35px 0 0 0;
  padding: 15px;
  max-width: 600px;
  min-height: 150px;
  background-color: #203047;
  border-radius: 15px;
  color: white;
}

.secondMsg {
  margin-left: 25px;
}

.writter {
  align-self: flex-start;
  margin: 10px 0 0 0;
  font-size: 1rem;
}

/* Minhas anotações */

.myTasks {
  margin: 40px 0 0 0;
}

/* Formulário */

.form {
  display: flex;
  margin: 10px 0 0 0;
}

#inputTask {
  margin: 0 25px 0 0;
  padding: 10px;
  width: calc(100% - 125px);
  height: 30px;
  border: none;
  border-radius: 5px;
}

#btnAdd,
#enjoyBtn,
#alertBtn {
  padding: 5px;
  width: 100px;
  background-color: #f5d01f;
  border: none;
  border-radius: 5px;
  color: #203047;
  transition: all 400ms;
}

#btnAdd:hover,
#enjoyBtn:hover,
#alertBtn:hover {
  cursor: pointer;
  background-color: #f5aa1f;
  color: white;
}

/* Tarefas */

.tasks {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10px;
}

.divTask {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 0 10px 0;
  padding: 5px;
  width: 100%;
  border-bottom: 1px solid #203047;
  white-space: normal;
}

.divAdderTask {
  display: flex;
}

.adderTask {
  /* display: none; */
}

.pTask {
  align-items: center;
  margin: 0 0 0 10px;
  word-wrap: break-word;
  color: #203047;
}

#removeTask {
  align-self: center;
  margin: 0 0 5px 5px;
  padding: 0 5px 0 5px;
  width: 55px;
  height: 20px;
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.7rem;
  color: white;
  transition: all 300ms;
}

#removeTask:hover {
  background-color: #ca0000;
}

/* Media queries */

@media (max-width: 850px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .title {
    width: 100%;
  }

  .inspireMsg {
    flex-flow: column;
    align-items: center;
  }

  .secondMsg {
    margin-left: 0;
  }
}

@media (max-width: 380px) {
  .title {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .profile {
    padding: 10px 0 5px 0;
    width: 100%;
    border-top: solid 1px #e7e7e7;
  }

  #nameSmall {
    display: none;
  }
}
